@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/scss/default.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.navbar-brand{
    font-size:31px;
}

body{
    background-color: black;
    -webkit-text-fill-color: white;
}

h1{
    -webkit-text-fill-color: darkgoldenrod;
}

.nav-item:hover{
    font-size:20px;
}

.row{
    margin-top: 25px;
    margin-bottom: 25px;
}

input.form-control, input.form-control:focus{
    background-color: black;
}

.profileHeader{
    font-size:25px;
    -webkit-text-fill-color: grey;
}

.Select-menu .Select-option{
    background-color:black;
}

#main > div > div > div.container.padded > div:nth-child(3) > div > div > div:nth-child(even) > form > ul > li > div > div > label{
	display:none;
}

#main > div > div > div.container.padded > div:nth-child(3) > div > div > div:nth-child(odd) > form > ul > li > div > div{
	height:3vh;
}

#main > div > div > div.container.padded > div:nth-child(3) > div > div > div > form > ul > li > div > div{
	min-width:9vw;
	margin-left:-1vw;
}

#main > div > div > div.container.padded > div:nth-child(3) > div > div > div > form > button{
	margin-left:3vw;
}
