@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/scss/default.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.navbar-brand{
    font-size:30px;
}

body{
    background-color: black;
    -webkit-text-fill-color: white;
}

h1{
    -webkit-text-fill-color: darkgoldenrod;
}

.nav-item:hover{
    font-size:20px;
}

input.form-control, input.form-control:focus{
    background-color: black;
}

.profileHeader{
    font-size:25px;
    font-color: grey;
}