@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/scss/default.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

body{
    background-color: black;
    -webkit-text-fill-color: green;
}

h1{
    -webkit-text-fill-color: darkgoldenrod;
}
